@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "colors";
@import "vars";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

*::first-letter {
   text-transform: uppercase;
}

html {
   scroll-behavior: smooth;
   scroll-padding-top: 70px;
}

body {
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.8;
   color: $black;
}

h1,
h2,
h3,
h4 {
   line-height: 1;
   margin-bottom: 0.5em;
}

img {
   width: 100%;
   display: block;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

p {
   margin-top: 1em;
   color: $dark;
}

.container {
   width: 90%;
   max-width: 1100px;
   margin-inline: auto;
}

/* --------- layouts --------------*/
.showcase {
   background-image: linear-gradient(
         90deg,
         rgba(0, 0, 0, 0.5),
         rgba(0, 0, 0, 0.5)
      ),
      url("../images/banner.png");
   background-position: center;
   background-size: cover;
   height: 100vh;
   position: relative;

   .header {
      position: relative;
      height: 80px;
      @include flex();
      z-index: 9999;

      &.sticky-header {
         background-color: $white;
      }

      .container {
         @include flex();
      }

      .logo {
         img {
            width: 10em;
         }
      }

      .nav {
         position: fixed;
         height: 100vh;
         width: 80%;
         inset: 0 0 0 auto;
         z-index: 99;
         background-color: $dark;
         @include flex();
         transform: translateX(100%);
         transition: all 0.5s ease-in-out;

         &.active {
            transform: translateX(0);
         }
      }

      .nav-list {
         @include flex(column, space-evenly, $ai: start);
         padding-left: 1em;
         width: 100%;
      }

      .nav-item {
         a {
            color: $white;
            padding: 0.5em 0.5em 0.5em 1em;
            margin-bottom: 0.5em;
            display: inline-block;
            width: 100%;
            transition: all 0.4s ease-in-out;
         }
      }

      .register-btn {
         margin-left: auto;
         display: inline-block;
         margin-right: 1em;
         color: $dark;
         background-color: $white;
         padding: 0.3em 1.5em;
         border-radius: 50px;
         text-transform: capitalize;
         transition: all 0.4s ease-in-out;

         &:hover {
            background-color: $main;
            color: $light;
         }
      }

      .toggler {
         cursor: pointer;
         padding: 0.5em;
         position: relative;
         z-index: 100;

         span {
            height: 2px;
            width: 22px;
            background-color: $white;
            display: block;
            margin: 0.3em;
            margin-right: 0;
            border-radius: 0.5em;
            transform-origin: 21px;
            transition: all 0.4s ease-in-out;
         }

         &.active {
            span:nth-child(1) {
               transform: rotate(-45deg);
            }
            span:nth-child(2) {
               opacity: 0;
            }
            span:nth-child(3) {
               transform: rotate(45deg);
            }
         }
      }
   }

   //   show case content
   .content {
      position: absolute;
      inset: 60% auto auto 50%;
      transform: translate(-50%, -50%);
      width: 70vw;

      .showcase-title {
         font-size: 1.5rem;
         font-weight: 600;
         text-transform: capitalize;
         margin-bottom: 1em;
         color: $white;
         text-align: center;
      }

      .search-form-container {
         background-color: $white;
         padding: 1.5em 2em 2.5em;
         border-radius: 0.5em;
         position: relative;
      }

      .form-inputs {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
      }
   }
}

@media (min-width: 768px) {
   .showcase {
      .showcase-title {
         font-size: 2.5rem !important;
      }

      .search-form-container {
         border-radius: 200px !important;
         padding: 1em 2em !important;
      }

      .form-inputs {
         flex-direction: row !important;
      }

      .input-control {
         border-right: 1px solid $gray;
         padding: 0 0.5em;
         margin-bottom: 0 !important;

         &:last-child {
            border: none;
         }
      }

      label {
         padding-left: 0.5em;
      }

      input {
         border: none !important;
         padding-left: 0.5em;
         font-size: 0.95rem !important;
      }

      .submit-btn {
         top: 50%;
         left: auto;
         right: 1%;
         transform: translate(-0%, -50%);
         font-size: 1.55em;
         margin: 0;
      }
   }
}
