@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
form .input-control:not(:last-child) {
  margin-bottom: 0.5em;
}

form .input-control label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #3c4145;
  text-transform: capitalize;
}

form .input-control input {
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 0;
  border-bottom: 1px solid #acacac;
  background-color: #fff;
  color: #3c4145;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

form .input-control input:hover, form .input-control input:focus {
  border-color: #3c4145;
}

form .submit-btn {
  margin-top: 2em;
  position: absolute;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1;
  border-radius: 100%;
  padding: 1em;
  border: none;
  background-color: #ff252b;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::first-letter {
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  color: black;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  margin-bottom: 0.5em;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin-top: 1em;
  color: #3c4145;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
}

/* --------- layouts --------------*/
.showcase {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/banner.png");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.showcase .header {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

.showcase .header.sticky-header {
  background-color: #fff;
}

.showcase .header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .header .logo img {
  width: 10em;
}

.showcase .header .nav {
  position: fixed;
  height: 100vh;
  width: 80%;
  inset: 0 0 0 auto;
  z-index: 99;
  background-color: #3c4145;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.showcase .header .nav.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.showcase .header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: space-evenly;
      flex-wrap: space-evenly;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 1em;
  width: 100%;
}

.showcase .header .nav-item a {
  color: #fff;
  padding: 0.5em 0.5em 0.5em 1em;
  margin-bottom: 0.5em;
  display: inline-block;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.showcase .header .register-btn {
  margin-left: auto;
  display: inline-block;
  margin-right: 1em;
  color: #3c4145;
  background-color: #fff;
  padding: 0.3em 1.5em;
  border-radius: 50px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.showcase .header .register-btn:hover {
  background-color: #ff252b;
  color: #eeeeee;
}

.showcase .header .toggler {
  cursor: pointer;
  padding: 0.5em;
  position: relative;
  z-index: 100;
}

.showcase .header .toggler span {
  height: 2px;
  width: 22px;
  background-color: #fff;
  display: block;
  margin: 0.3em;
  margin-right: 0;
  border-radius: 0.5em;
  -webkit-transform-origin: 21px;
          transform-origin: 21px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.showcase .header .toggler.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.showcase .header .toggler.active span:nth-child(2) {
  opacity: 0;
}

.showcase .header .toggler.active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.showcase .content {
  position: absolute;
  inset: 60% auto auto 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70vw;
}

.showcase .content .showcase-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1em;
  color: #fff;
  text-align: center;
}

.showcase .content .search-form-container {
  background-color: #fff;
  padding: 1.5em 2em 2.5em;
  border-radius: 0.5em;
  position: relative;
}

.showcase .content .form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */